/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my own styling */

.form-wrapper {
  padding: 80px;
  padding-top: 20px;
  margin: 10px;
}

.card {
  padding: 50px;
  padding-top: 20px;
  border: 2px solid black;
  margin: 10px;
}

.card h2 {
  text-align: center;
}

.card-form {
  text-align: center;
}

.list-wrapper {
  margin-top: 20px;
}

.list-item {
  margin: 10x;
  padding: 10px;
  border: 1px solid rgb(76, 76, 219);
}

.icon-wrapper {
  display: flex;
  justify-content: space-around;
}

